.card{
    background-color: darkred;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 100px;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}